<header>
    <app-menu-bar></app-menu-bar>    
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card 
            photoCover="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/101095aca304fad3508f5f7dfa570c32.jpg"
            cardTitle="Título dinâmico"
            cardDescription="Descrição dinâmica"
            >    
        </app-big-card>

    </div>

    <div class="articles-others">
        <app-small-card
            photoCover="https://s3-alpha.figma.com/hub/file/3538392265/956b6edb-a4f1-4b3d-a0bc-9aff5d8f8596-cover.png"
            cardTitle="Tudo dinâmico"
        ></app-small-card>
        <app-small-card
            photoCover="https://s.aficionados.com.br/imagens/regular-show-artigo_cke.jpg"
            cardTitle="Componente sendo usado"
        ></app-small-card>
        <app-small-card
            photoCover="https://s.dicio.com.br/feioso.png"
            cardTitle="mas de coração"
        ></app-small-card>
    </div>

</div>